.wrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 70%;
    height: 50rem;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper .content {
    overflow: auto;
}


.container {
    border-radius: 5px;
    height: 70%;
    background-color: #e7e7e7;
    padding: 20px 0;
    width: 90%;
}
.container label {
    font-size: 12px;
}
.container input {
    width: 10rem;
}
.container input[placeholder] {
    font-size: 13px;
}
.container select[placeholder] {
    font-size: 13px;
}
.form_btn {
    border: none;
    margin: auto;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: rgb(22, 32, 22);
    align-items: center;
}
.form_btn:hover {
    background-color: rgb(101, 180, 101);
}
